:root {
    --primary-color: maroon;
    --secondary-color: rgb(95, 6, 6);
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(239, 239, 239);
    padding-top: 60px;
    line-height: 1.6;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

 /* Scroll Fade Container */
 .fade-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

/* Active state for faded elements */
.fade-container.active {
    opacity: 1;
    transform: translateY(0);
}

/* Optional: Stagger delay for multiple elements */
.fade-container:nth-child(2) { transition-delay: 0.2s; }
.fade-container:nth-child(3) { transition-delay: 0.4s; }
.fade-container:nth-child(4) { transition-delay: 0.6s; }

/* Responsive Images and Media */
img, video, iframe {
    max-width: 100%;
    height: auto;
}

/* Responsive Typography */
html {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

/* Flexible Layout */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    z-index: 100;
    padding: 0px 50px 0px 0px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

/* FOOTER */
footer {
    background: maroon; 
    color: #fff;
    font-family: monospace;
    padding-top: 40px;
    text-align: center;
    position: relative;
    margin-top: 2rem; 
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5rem; 
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.socials li {
    margin: 0 5px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #e1ad01; 
}

.footer-bottom {
    background: #e1ad01;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}