/* Main Content Styles */
.vision-mission-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 0;
    padding: 7rem 2rem 2rem;
    background-image: url("logo1.png");
    background-repeat: no-repeat;
}

.vision-section,
.mission-section {
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 45%;
    margin: 0 20px;
    background-color:rgba(128, 0, 0, 0.772);
    border-radius: 2px;
    color: #f4f4f4;
    text-align: center;
    transition: transform 0.3s ease;
}
.vision-section:hover,
.mission-section:hover{
    transform: scale(1.05);
}

.vision-section h2,
.mission-section h2 {
    background-color:  #e1ad01;
    padding: 2px;
    border-radius: 2px;
    font-size: 2rem;
    color: #f4f4f4;
}

.mission-section p {
    list-style-type: disc;
    margin-left: 20px;
}

.core-values-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 0;
    padding: 0rem 1rem 2rem;
    background-image: url("logo2.png");
    background-repeat: no-repeat;
}

.school-hymn-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 0;
    padding: 0rem 2rem 2rem;
    background-image: url("logo3.png");
    background-repeat: no-repeat;
}

.core-values-section,
.school-hymn-section {
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 90%;
    margin: 0 20px;
    background-color:rgba(128, 0, 0, 0.772);
    border-radius: 2px;
    text-align: center;
    transition: transform 0.3s ease;
}
.core-values-section:hover,
.school-hymn-section:hover{
    transform: scale(1.05);
}

.core-values-section h2,
.school-hymn-section h2 {
    color: #f4f4f4;
    background-color:  #e1ad01;
    border-radius: 2px;
    font-size: 2rem;
    color: #f4f4f4;
    margin-bottom: 0rem;
}

.core-values-section ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #f4f4f4;
}

.school-hymn-section .hymn-lyrics {
    text-align: center;
    line-height: 1.6;
    color: #f4f4f4;
}

.school-hymn-section .hymn-lyrics p {
    margin-bottom: 15px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .core-values-container,
    .school-hymn-container {
        flex-direction: column;
        align-items: center;
    }

    .core-values-section,
    .school-hymn-section {
        width: 90%;
        margin: 20px 0;
    }
}